muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2be522eb-3524-4562-bb47-bea5ddfe0ff2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappFlow" doc:id="39e1bde8-b8e9-43ef-99a1-99db1f69f1b0" >
		<http:listener doc:name="Listener" doc:id="9604d2d1-01ba-4f10-9ec4-d1b6d3fb0416" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value='#["Hello World!"]' doc:name="Set Payload" doc:id="78758d45-44fc-4811-860c-5f65b989ee86" />
	</flow>
</mule>
